#projects {
  background: linear-gradient(135deg, #0d6efd, #084298);
}

.project-card {
  border-radius: 14px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
}

.project-card img {
  height: 220px;
  object-fit: cover;
}

.project-card .card-body {
  background: #ffffff;
}

.project-card:hover {
  transform: translateY(-6px);
  transition: 0.3s ease;
}

.profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
